<h1>All Comments</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Article ID</th>
    <th>Comment</th>
    <th>User ID</th>
    <th>Parent ID</th>
    <th>Created</th>
    <th>Updated</th>
    <th>Reply</th>
  </tr>
 
<%= render 'commentrow', :top_level => @top_level %>

</table>

<br><br>
<%= link_to 'Home', welcome_index_path %>
